## Author

Kareem Moustafa Hassaan

In [1]:
Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

SyntaxError: invalid syntax (2513829280.py, line 1)

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

In [2]:
## Author

Your Name Here

SyntaxError: invalid syntax (1269693699.py, line 3)

## Author

Kareem Moustafa Hassaan

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools     |
|------------------------|
| Jupyter Notebook       |
| RStudio                |
| Apache Zeppelin        |

# Arithmetic Expression Examples

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Explain the key libraries used in Data Science.
- Demonstrate basic arithmetic operations in Python.
- Convert time units (minutes to hours).
- Discuss development environments for Data Science.

Author

Kareem Moustafa